.*
!.gitignore
*.o
*.a
*.la
*.lo
*.log
*.exe
aclocal.m4
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
makefile
makefile.in
Makefile
Makefile.in
stamp-h1
missing
autom4te.cache
ar-lib
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

doc/solidfmm.aux
doc/solidfmm.bbl
doc/solidfmm.bcf
doc/solidfmm.blg
doc/solidfmm.listing
doc/solidfmm.out
doc/solidfmm.run.xml
doc/solidfmm.synctex.gz
doc/solidfmm.toc


tests/test_swap_matrix
tests/test_swap
tests/test_rotation
tests/test_m2l
tests/test_m2m
tests/test_l2l
tests/benchmark_avx
tests/benchmark_m2m
tests/benchmark_m2l
tests/benchmark_m2l_naive
tests/benchmark_l2l
tests/benchmark_microkernel

